<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Areon - Prototype" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <% if (process.env.NODE_ENV !== 'development') { %>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <% } %>
    <title>Areon - Prototype</title>

    <style>
      html, body {
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      html, body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      :focus {
        outline: none;
      }
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, .1);
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2);
      }
      * {
        scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .1);
        scrollbar-width: thin;
      }
    </style>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
